.contact {
  padding: 76px 0px 76px 0px;
  font-family: "Poppins", sans-serif; }
  .contact .contact_title {
    text-align: center; }
    .contact .contact_title h3 {
      font-weight: 900;
      font-size: 30px; }
    .contact .contact_title span {
      font-weight: 600;
      font-size: 18px; }

.contact-form {
  margin-top: 50px;
  padding-right: 0;
  text-align: center; }
  .contact-form .form-group {
    margin-bottom: 1.5rem;
    font-family: "Source Sans Pro", sans-serif;
    width: 49.4%;
    display: inline-block;
    background: transparent; }
    .contact-form .form-group:nth-child(4) {
      text-align: center;
      width: 100%; }
    .contact-form .form-group:nth-child(3) {
      width: 100%; }
    .contact-form .form-group input, .contact-form .form-group textarea {
      letter-spacing: 1.5px;
      font-size: 15px;
      padding-bottom: 20px;
      background: transparent;
      border: none;
      outline: none;
      border-radius: 0px;
      transition: 0.3s;
      border-bottom: 1px solid #202020;
      text-align: center; }
      .contact-form .form-group input:focus, .contact-form .form-group textarea:focus {
        box-shadow: none;
        border-bottom: 1px solid #dd464a; }
  .contact-form .sendMessage {
    text-decoration: none;
    background: transparent;
    border: 1px solid #212529;
    padding: 15px 30px 15px 30px;
    color: #5b5b5b;
    transition: 0.6s;
    cursor: pointer; }
    .contact-form .sendMessage:hover {
      background: #282B2E;
      color: #EEEEEE; }
