.order {
  padding: 70px 0;
  background: url("../img/pexels-photo-425160.jpeg");
  background-size: cover;
  background-color: #bfbfbf;
  background-attachment: fixed;
  position: relative;
  text-align: center; }
  .order:before {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
  .order .order-caption {
    position: relative; }
    .order .order-caption h1 {
      font-size: 45px;
      letter-spacing: 1px;
      color: #f2f2f2; }
    .order .order-caption .contact-scroll {
      font-size: 16px;
      margin: 30px 20px 0;
      padding: 5 10px;
      font-weight: 400;
      background: none;
      cursor: pointer;
      position: relative; }
      .order .order-caption .contact-scroll a {
        border-radius: 5px;
        padding: 10px 30px;
        font-size: 18px;
        letter-spacing: 2px;
        background: #f2f2f2; }
