.about-image
	img
		position: relative
	&:after 
		content: '' 
		width: 90% 
		height: 94% 
		position: absolute 
		left: 0px 
		bottom: -21px
		background: transparent
		border: 6px solid #111111
		z-index: -1 

.about-title, .services-title
	h3
		color: #343434
		letter-spacing: 0.5px
		font-weight: 900
		font-size: 30px
		margin-bottom: 5px
	span 
		color: #343434
		font-size: 17px
		letter-spacing: 1.5px
		margin-bottom: 20px

.about-description
	border-bottom: 1px solid #757575

.about-info
	li 
		width: 48%
		margin-top: 15px	
		display: inline-block
		.title
			font-weight: 700
			color: #333333
		.value
			color: #595959
			letter-spacing: 0.4px

.about-buttons
	margin-top: 40px
	a 
		margin-right: 20px
		
@media only screen and (max-width: 1199px)
	.about-title span
		margin-bottom: 5px !important
	.about-description
		p 
			letter-spacing: 0 !important
			margin-bottom: 0rem !important
	.about-info 
		li
			margin-top: 9px
	.about-buttons 
		margin-top: 27px
		a
			padding: 10px 17px