.full-screen 
	min-height: 100vh

.header-banner 
	background-attachment: fixed
	position: relative
	overflow: hidden
	background-size: cover
	background-repeat: no-repeat
	text-align: left
	&:after 
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: #000
		opacity: 0.7
	.row 
		z-index: 1
		position: relative
	h5 
		font-size: 17px
		color: #fff
	h1 
		font-size: 70px
		color: #fff
		font-weight: 600
		margin: 10px 0 20px

.arrow 
	position: absolute
	bottom: 10vh
	width: 100vw
	z-index: 20
	padding-left: 75px
	a 
		color: #fff
		text-decoration: none

.bounce 
	animation: bounce 2s infinite

@-webkit-keyframes bounce 
	0% 
		transform: translateY(0)
	20% 
		transform: translateY(0)
	50% 
		transform: translateY(0)
	80% 
		transform: translateY(0)
	100% 
		transform: translateY(0)
	40% 
		transform: translateY(-30px)
	60% 
		transform: translateY(-15px)

@keyframes bounce 
	0% 
		transform: translateY(0)
	20% 
		transform: translateY(0)
	50% 
		transform: translateY(0)
	80% 
		transform: translateY(0)
	100% 
		transform: translateY(0)
	40% 
		transform: translateY(-30px)
	60% 
		transform: translateY(-15px)

.cd-headline 
	font-size: 3rem
	line-height: 1.2
	&.clip 
		span 
			display: inline-block
			padding: .2em 0
		.cd-words-wrapper 
			overflow: hidden
			vertical-align: top
		.cd-words-wrapper::after 
			content: ''
			position: absolute
			top: 10%
			right: 0
			width: 2px
			height: 70%
			background-color: #aebcb9
		b 
			opacity: 0
	b.is-visible 
		opacity: 1
		margin-right: 15px
		font-weight: 900


.cd-words-wrapper 
	display: inline-block
	position: relative
	text-align: left
	b 
		display: inline-block
		position: absolute
		white-space: nowrap
		left: 0
		top: 0
		&.is-visible 
			position: relative