@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300; } }

@media screen and (max-width: 767px) {
  .navbar-default .logo {
    margin-left: 20px; }
  .navbar-default .navbar-toggle {
    background: none !important;
    margin-top: 15px !important;
    border: none !important; }
    .navbar-default .navbar-toggle:hover {
      background: transparent !important; }
    .navbar-default .navbar-toggle:focus {
      background: transparent !important; }
    .navbar-default .navbar-toggle .icon-bar {
      background: #fff; }
  .navbar-default .navbar-collapse {
    text-align: center;
    border: none;
    border-top: 1px solid rgba(12, 12, 12, 0.04);
    background: #fff;
    margin-top: 5px;
    padding-bottom: 15px; }
  .navbar-default .navbar-nav > li {
    line-height: 0; }
    .navbar-default .navbar-nav > li > a {
      padding-bottom: 0 !important;
      color: #111 !important;
      display: inline-block; }
  .header .caption {
    text-align: center; } }

@media screen and (max-width: 991px) {
  .section-padding {
    padding: 70px 0 !important; }
  .navbar-default .navbar-nav > li {
    margin: 25px 15px 0;
    font-size: 13px; }
  .header .caption {
    text-align: center; }
  .hero .hero-img {
    margin-bottom: 80px !important; }
  .about-img:before {
    display: none; }
  .about-img {
    margin-bottom: 20px; }
  .service-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px !important; }
    .service-item .services-content {
      margin: 0 !important; }
      .service-item .services-content h4 {
        margin-top: 15px;
        margin-bottom: 10px; } }

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem; } }

@media only screen and (max-width: 1199px) {
  .about-heading span {
    margin-bottom: 5px !important; }
  .about-heading p {
    line-height: 20px !important;
    padding-bottom: 15px !important; }
  .about-info li {
    margin-top: 7px !important; } }
