.services
	.service-item
		display: flex
		padding: 30px
		background: #fff
		margin-bottom: 40px
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, .07)
		.service-icon
			img
				width: 70px !important
		.services-content
			overflow: hidden
			margin-left: 35px
			h4
				margin-bottom: 10px
			p
				letter-spacing: 0.4px
				color: #333
