.statistic {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), #1b1c21 url(../img/stats.jpeg) 0% 0%/auto repeat scroll;
  background-size: cover; }
  .statistic .mm {
    padding-bottom: 120px;
    padding-top: 120px; }
  .statistic:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000 !important;
    opacity: .85;
    z-index: 2; }
